body {
    margin: 0;

}

.main {
    height: 100vh;
    background-image: url('../img/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.main-logo {
    width: 103px;
    height: 23px;
}

.text-title, .text-subtitle, .scroll {
    color: white;
    font-family: 'Bebas';
}

.text-title {
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 5px;
    margin: 0;
}

.text-subtitle {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 3px;
}

.scroll {
    letter-spacing: 4px;
}












.menu {
    height: 65px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #48555b;
}

.menu-logo {
    width: 81px;
    height: 18px;
}

.items {
    display: flex;
    width: 350px;
    justify-content: space-between;
    font-family: 'Bebas';
    letter-spacing: 2px;
    font-weight: bold;
    color: #48555b;
}




.story-title {
    font-family: 'Bebas';
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 5px;
    font-size: 36px;
}

.story-underline {
    background-color: #00A4E5;
    height: 3px;
    width: 60px;
    margin: 0 auto;
    
}

.story-content {
    display: flex;
    width: 1150px;
    margin: 0 auto;
}

.story-text {
    width: 50%;
    padding-right: 19px;
}

.story-text-title {
    font-family: 'Bebas';
    font-size: 36px;
    font-weight: bold;
}

.story-text-p {
    font-size: 18px;
    font-family: 'Bebas';
}

.story-img {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.story-block {
    height: 222px;
    width: 140px;
    background-image: url('../img/1.png');
}